.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: auto;
  width: auto;
  padding: 20px;
}
.video-container::before {
  position: absolute;
  content: "Place the document within the border";
  border: 2px dashed red;
  z-index: 1;
  color: white;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 40%;
  height: 80%;
  display: flex;
  place-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .video-container::before {
    height: 75%;
  }
}
@media (max-width: 480px) {
  .video-container::before {
    height: 70%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
